<div class="body-wrapper">
    <div class="wrapper">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <h1>Registration</h1>
            <div class=" input-box">
                <div class="input-field">
                    <input type="text" name="first_name" [(ngModel)]="form.first_name" required minlength="3" maxlength="15"
                        #first_name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && first_name.errors }" placeholder="First Name">
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-field">
                    <input type="text" name="last_name" [(ngModel)]="form.last_name" required minlength="3" maxlength="20"
                        #last_name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && last_name.errors }" placeholder="Last Name">
                    <i class='bx bxs-user'></i>
                </div>
            </div>

            <div class="input-box">
                <div class="input-field">
                    <input type="text" name="username" [(ngModel)]="form.username" required minlength="3"
                        maxlength="20" #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.errors }" placeholder="Username"/>
                    <i class='bx bxs-envelope'></i>
                </div>
                <div class="input-field">
                    <input type="email" name="email" [(ngModel)]="form.email" required #email="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && email.errors }" placeholder="E-mail"/>
                    <i class='bx bxs-phone'></i>
                </div>
                </div>

            <div class="input-box">
                <div class="input-field">
                    <input type="text" name="phone_number" [(ngModel)]="form.phone_number" required #phone_number="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && phone_number.errors }" placeholder="Phone Number">
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="input-field">
                    <input type="password" name="password" [(ngModel)]="form.password" required minlength="6"
                        #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" placeholder="Password"/>
                    <i class='bx bxs-lock-alt'></i>
                </div>
            </div>

            <div class="inputs">
                <label><input type="checkbox" name="profile_type" [(ngModel)]="form.isArtist" required #profile_type="ngModel">Are you an Artist?</label>
            </div>

            <label><a routerLink="/login">Already have an account? Sign In</a></label>
            <button type="submit" class="btn">Start Listening</button>
        </form>
    </div>
</div>