<div class="wrapper">
    <nav>
        <div class="icon"><img src="assets/images/Group.png"></div>
        <div class="search_box">
            <input type="search" placeholder="Search...">
        </div>
        <ol>
            <li><a routerLink="/register">Create Account</a></li>
            <li><a routerLink="/login">Sign In</a></li>
            <li>
                <a href="#">Menu</a>
                <ul class="dropdown">
                    <li><a>Liked Tracks</a></li>
                    <li><a>Playlists</a></li>
                    <li><a>Settings</a></li>
                    <li><a>Log Out</a></li>
                </ul>
            </li>
        </ol>
    </nav>
</div>