nav {
    display: flex;
    width: 100%;
    background: #4E365B;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px 5px 30px;
    font-family: Poppins, sans-serif;
}

nav .icon img {
    margin-bottom: 15px;
    width: 50px;
}

nav ol {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ol li {
    margin: 0 30px;
    display: block;
    position: relative;
}

nav ol li a {
    display: block;
    position: relative;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    white-space: nowrap;
}

ol li ul.dropdown li {
    display: inline-block;
    background: #4E365B;
    padding: 5px;
}

ol li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    right: 70px;
}

ol li a:hover {
    background: #4E365B;
}

ol li:hover ul.dropdown {
    display: block;
}

nav .search_box {
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}

nav .search_box input {
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 300px;
}