<div class="registration_form_wrapper">
    <div class="wrapper">
        <form>
            <h1>Registration</h1>
            <div class="input-box">
                <div class="input-field">
                    <input type="text" placeholder="Full Name" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Username" required>
                    <i class='bx bxs-user'></i>
                </div>
            </div>

            <div class="input-box">
                <div class="input-field">
                    <input type="email" placeholder="Email" required>
                    <i class='bx bxs-envelope'></i>
                </div>
                <div class="input-field">
                    <input type="number" placeholder="Phone Number" required>
                    <i class='bx bxs-phone'></i>
                </div>
            </div>

            <div class="input-box">
                <div class="input-field">
                    <input type="password" placeholder="Password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Confirm Password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
            </div>

            <div class="inputs">
                <label><input type="radio" name="role">I am an employer - looking for developers</label>
                <label><input type="radio" name="role">I am a candidate - looking for offers</label>
            </div>

            <label><a href="login.html">Already have an account?</a></label>
            <button type="submit" class="btn">Register</button>
        </form>
    </div>
</div>