<swiper-container class="mySwiper" pagination="true" pagination-clickable="true" loop="true" space-between="30"
    centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
    <swiper-slide>
        <img src="assets/images/first_photo_slider.jpg">
    </swiper-slide>
    <swiper-slide>
        <img src="assets/images/second_photo_slider.jpg">
    </swiper-slide>
    <swiper-slide>
        <img src="assets/images/third_photo_slider.jpg">
    </swiper-slide>
</swiper-container>