<div class="body-wrapper">
  <div class="wrapper">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate autocomplete="off">
      <h1>Login</h1>
      <div class="input-box">
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }" placeholder="Username"/>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
          #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" placeholder="Password"/>
        <i class='bx bxs-lock-alt'></i>
      </div>
      <div class="remember-forgot">
        <label><input type="checkbox">Remember me</label>
        <a href="#">Forgot Password?</a>
      </div>
      <button type="submit" class="btn">Login</button>
      <div class="register-link">
        <p>Don't have an account? <a routerLink="/register">Register</a></p>
      </div>
    </form>
  </div>
</div>