@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif
}